.App {
  margin: 10vh auto;
  width: 60vh;
}
.programs {
  background: rgba(022, 061, 097, 0.789);
  color: rgba(031, 226, 077, 0.669);
  margin-bottom: 20px;
}

.radiosel{
  margin-left: 30px;
}

.ulEnrol {
  list-style: none;
  padding: 0;
}

.title {
  font-size: 24px;
  color: #333;
}

.parentlabels {
  margin-bottom: 10px;
}
